.text {
    text-align: center;
    padding: 2rem 0;

}
.tableTitle{
    display: inline-block;
    padding: 1rem 2rem;
}
.ClassTable {
    padding: 2rem 0;
    text-align: center;

}

.ClassImg {
    display: inline-block;
    padding: 1rem 2rem;

}

.ClassTitle {
    display: inline-block;
    padding: 1rem 2rem;

}

.ClassPrice {
    display: inline-block;
    padding: 1rem 2rem;

}

.btn {
    text-align: center;
    display: inline-block;
    border: none;
    padding: 1rem;
    outline: none;
    cursor: pointer;
    background: var(--color-principal);
    color: var(--blanco);
    font-size: 1.5rem;
    margin-top: 1rem;
    transition: background 0.5s;
  }
  
.btn:hover {
    background: var(--color-secundario);
    color: var(--text);
  }