@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-principal: #349706fd;
  --color-secundario: #e0d679;
  --blanco: #fff;
  --text: rgb(70, 70, 70);
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.container {
  width: 90%;
  max-width: 1600px;
  margin: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
